# This workflow builds and tests a .NET 6 project
# For more information: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET 6 CI

on:
  push:
    branches:
      - develop
      - 'feature'
  pull_request:
    branches:
      - develop
      - 'feature'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build --verbosity normal
